<form [formGroup]="myForm">
  <div>
    Taille terrain :
    <input type="number" formControlName="fieldWidth">
    <input type="number" formControlName="fieldHeight">
  </div>

  <div>
    Taille cellule :
    <input type="number" formControlName="cellWidth">
    <input type="number" formControlName="cellHeight">
  </div>
</form>

<c7z-minesweeper [fieldWidth]="fieldWidth" [fieldHeight]="fieldHeight" [cellWidth]="cellWidth" [cellHeight]="cellHeight"></c7z-minesweeper>

<router-outlet></router-outlet>
