<form [formGroup]="myForm">
  <div>
    Taille terrain :
    <input type="number" formControlName="fieldWidth">
    <input type="number" formControlName="fieldHeight">
  </div>

  <div>
    Taille cellule :
    <input type="number" formControlName="cellWidth">
    <input type="number" formControlName="cellHeight">
  </div>
</form>

<canvas #canvas width="500" height="500" style="border: 1px solid black;"></canvas>

<ng-container *ngIf="!initialized">
  <div (click)="initializeGame($event)">
    <div>
      Démineur
    </div>

    <div>
      Cliquez pour recommencer
    </div>
  </div>
</ng-container>

<ng-container *ngIf="success">
  <div (click)="initializeGame($event)">
    <div>
      Bravo !
    </div>

    <div>
      Cliquez pour recommencer
    </div>
  </div>
</ng-container>

<ng-container *ngIf="fail">
  <div (click)="initializeGame($event)">
    <div>
      Boom !
    </div>

    <div>
      Cliquez pour recommencer
    </div>
  </div>
</ng-container>

<router-outlet></router-outlet>
