@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

c7z-minesweeper {
  position: relative;
  display: inline-block;

  .message {
    font-family: Roboto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title {
      font-size: 25px;
    }

    .description {
      font-size: 16px;
    }
  }
}
